<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated WebDevProject -->
      <package
            uri="https://www.WebDevProjectMM.com"
            class="WebDevProjectMM.WebDevProjectMMPackage"/>
   </extension>

</plugin>
